/* 1200 and up */
$font-primary: #FFF;
$color-hover: #486696;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* vanta.js */
#vanta-canvas {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Portfolioのリンク部分 */
.nav-links a {
  text-decoration: none;
  color: $font-primary;
}

.nav-links a:hover {
  color: $color-hover; /* リンクにホバーすると、青になる */
  transition: all 0.2s ease-out; /* リンクにホバーする時の速度 */
}

/* フッター */
footer {
  color: $font-primary;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* small phones landscape 576 - 768 */
@media screen and (max-width: 768px) {

}

/* tablets 768 - 992 */
@media screen and (max-width: 992px) {

}

/* laptop 992 - 1200 */
@media screen and (max-width: 1200px) {

}
